.job-image {
    float: left;
    /* box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.14), 3px 3px 3px 3px rgba(0,0,0,0.12), 3px 3px 3px -3px rgba(0,0,0,0.2);            */
    width: 50%;
    margin-right: 20px;
}
.clearfix {
    overflow: auto;
}

.expTitle {
    color: #6d9eeb;
    font-weight: 350;    
}

.modal-content h4 {
    color: #6d9eeb;
    font-weight: 350;    
}

.modal-btn {
    color: #6d9eeb;
    background-color: transparent;
    box-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0px;
}
.modal-btn:hover, .modal-btn:focus {
    color: rgb(0, 98, 255);   
    background-color: transparent;
    box-shadow: none;
}


@media (max-width: 700px){
    .job-image {
        float:none;
        width: 100%;
    }
    .expTitle {
        margin: 0;
    }
    .clearfix p {
        margin-top: 2px;
        margin-bottom: 5px;
    }

}

@media (max-width: 900px){

    .expTitle {
        font-size: 16px !important;

    }
    .chip {
        font-size: 9px;
        padding: 0 5px;
        margin: 0px;
        border-radius: 10px;
        height: 20px;
        line-height: 20px;
    }
}