/* .temp {
    padding: 50px;
    width: 100vh;
    height: 100vh;
    text-align: center;    
} */

.icon {
    color: #6d9eeb; 
    font-size: 30px;
}

.icon:hover {    
    color: rgb(0, 98, 255);           
}

.card-reveal ul:not(.browser-default) li {
    list-style-type: disc !important;
}


.card {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.14), 3px 3px 3px 3px rgba(0,0,0,0.12), 3px 3px 3px -3px rgba(0,0,0,0.2);           
}

.card .card-title {
    font-weight: 350;
    font-size: 22px;
    color: #6c9eec !important;
    border-bottom: #6c9eec24 1px solid;
}

@media (max-width: 900px){
    .card-content, .card-reveal{
        padding: 5px !important;
    }
    .card-content i {
        font-size: 16px !important;
    }
   .card .card-title {
       font-size: 16px !important;
   }
   .card-content .chip {
       display:none;
   }
   .icon {
       font-size: 20px !important;
   }
}
