.my-footer {
    position: absolute;
    background-color: #6d9debe3 !important; 
    color: white !important;
    /* border-top: solid 0.5px gray; */
    height: 50px !important;
    width: 100% !important;
    line-height: 50px;
}
.container {
    width: 80% !important;
    margin-left: 40px;
}

.my-footer .row {
    margin-bottom: 0;
}

.icons-col {
    height: 50px !important;
}

.my-footer .icon {
    color: white; 
    font-size: 20px;  
    padding-left: 4px;
}

.my-footer .icon:hover {    
    color: rgba(255, 255, 255, 0.575);
}

.repo {
    color: white;
    text-decoration: underline;
}

.my-footer p {
    margin: 0px;
}

@media (max-width: 900px){
    .my-footer .icon {
        font-size: 12px !important;
    }

    .my-footer {
        height: 50px !important;
    }

}