#about-page {
    position: relative;
    width: 100vw;
    min-height: 94vh;    
    background-color: #6d9eeb;
    color: white;
}

#content {
    position: absolute;    
    top: 20%;
    left: 50%; 
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);  
    -o-transform: translate(-50%, -20%); 
    transform: translate(-50%, -20%);
}

.about-desc {
    font-size: 18px;
}

#image-holder {
    float: left;
    max-width: 50%;    

}

.arrow-down {    
    position: absolute;    
    color: white;
    font-size: 50pt;    
    top: 93%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);  
    -o-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);
    animation: direct 1s infinite ease;
    animation-direction: alternate;
}

@keyframes direct {
    0% {
        -webkit-transform: translatey(-50px);
        -ms-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
  
    100% {      
        -webkit-transform: translatey(-40px);
        -ms-transform: translatey(-40px);
        -o-transform: translatey(-40px);
        transform: translatey(-40px);
    }    
  }

  .skills-header {
    font-size: 18px;
    border-bottom: white 1px solid;

  }


/* #container {        
    width: 100vw;
    height: 94vh;
    background: linear-gradient(360deg, #6d9eeb 50%, white 50%);      
}
#top {
    height: 70%;
    height: 100vh;
    position: relative;      
}
#intro {
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 50px;
    transform: translate(0%, -40%);
    color: #6d9eeb;
} */
/* #image-holder{    
    position: absolute;
    top: 50%;
    width: 50%;
    height:50%;
    transform: translate(-50%, -50%);
    background-color: #6d9eeb;
    left: 50%;
    
} */
/* #bottom {
    color:#6d9eeb;
    padding-left: 10px;    
    
} */


/* for skills list */
.about-chip {
    margin: 5px;
    color: #6d9eeb;
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 11px; 
    /* animation: float 2s ease infinite;
    animation-direction: alternate; */
}

/* @keyframes float{
    0% {
        transform: translatex(10px);
    }

    25% {
        transform: translatex(-20px);
    }
  
    100% {        
        transform: translatey(2px);
    }    
} */


/* .skills-container { */
    /* width: 300px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
/* } */

#about .animated { 
    display: inline-block;
}

@media (max-width: 900px){

    .skills-header{
        font-size: 12px !important;
    }
    .about-chip {
        margin: 1px;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 9px !important; 
        /* animation: float 2s ease infinite;
        animation-direction: alternate; */
    }

    .arrow-down{
        font-size: 30px;
    }
}